<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group text-center">
    <%= form.label :street_address %>
    <%= form.text_field :street_address, id: :location_street_address, class: 'form-control' %>
  </div>

  <div class="field form-group text-center">
    <%= form.label :city %>
    <% @cities = ['Atlanta',
                  'Alpharetta',
                  'Avondale Estates',
                  'Chamblee',
                  'Clarkston',
                  'College Park',
                  'Decatur',
                  'Doraville',
                  'Dunwoody',
                  'East Point',
                  'Ellenwood',
                  'Fairburn',
                  'Forest Park',
                  'Hapeville',
                  'Jonesboro',
                  'Lake City',
                  'Lovejoy',
                  'Lithonia',
                  'Morrow',
                  'Palmetto',
                  'Riverdale',
                  'Roswell',
                  'Sandy Springs',
                  'Stone Mountain',
                  'Union City'] %>
    <%= form.collection_select :city, @cities.sort, :to_s, :to_s, include_blank: "Atlanta" %>
  </div>

  <div class="actions form-group text-center">
    <%= form.submit "Find Buses", class: 'btn btn-default' %>
  </div>
<% end %>
